<!DOCTYPE html>
<html lang="pt-br">
   <%- include('components/head') %>
<body>
   <%- include('components/header') %>
    <main>
     <section>
     <div class="search">
      <form >
         <div class="input-search">
            <input type="search" name="search" placeholder="Buscar">
         </div>
         <div class="btn-search">
            <button><i class='bx bx-search-alt-2'></i></button>
         </div>
      </form>
     </div>
        
     </section>

     
    </main>
    <%- include('components/footer') %>
    
</body>
</html>